<div class="text-center">
<h3>Welcome to Image Sharer Application!</h3>

<%= form_with scope: :image, local: true, url: {action:'create'} do |form| %>
 <table >
    <tr>
      <td><strong><%= form.label :ImageURL%></strong></td>
      <td><%= form.text_field :url %></td>
    </tr>
    <tr>
      <td><strong><%= form.label :Tags,'Tags (comma separated list)'%></strong></td>
      <td><%= form.text_field :tag_list %></td>
    </tr>
    <tr><td></td>
    <td><p>
      <%= form.submit %>
    </p></td>
    </tr>
  </table>


<% end %>

  <br/>
  <h4>Saved Images</h4>

 <table>

    <% @image.each do |img| %>
      <tr>
        <td> <img src='<%=img.url%>' width='400' height='400'></td>
      </tr>
     <tr>
       <td>Tags: <%= img.tag_list %></td>
     </tr>
    <% end %>
  </table>

</div>

</div>
