<div class="text-center">
<h3>Welcome to Image Sharer Application!</h3>

<%= form_with scope: :image, local: true, url: {action:'create'} do |form| %>
 <table >
    <tr>
      <td><strong><%= form.label :ImageURL%></strong></td>
      <td><%= form.text_field :url %></td>
    </tr>
    <tr>
      <td><strong><%= form.label :Tags,'Tags (comma separated list)'%></strong></td>
      <td><%= form.text_field :tag_list %></td>
     </tr>
    <tr><td></td>
    <td><p>
      <%= form.submit %>
    </p></td>
    </tr>
  </table>


<% end %>
</div>

</div>
